{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "test for inline stack",
    "Transform": [
        "CFProcessor"
    ],
    "Resources": {
        "ResourceA": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "BucketName": "Test bucket 1"
            }
        },
        "StackInclude": {
            "Type": "Custom::SgProcessorV1",
            "Properties": {
                "ServiceToken": "",
                "ResourcePrefix": "New",
                "TemplateUri": "s3://123456789012/path/example/module.template",
                "TemplateParameters": {
                    "Parameter1": "Value1"
                }
            }
        },
        "ResourceB": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
                "BucketName": "Test bucket 2"
            }
        }
    }
}
